.vscode
build/Licence,fff
build/ReadMe,fff
build/!AwkScan/!Help,ffb
build/!AwkScan/!RunImage,ffb
build/!AwkScan/Resources/UK/AwkScan,3d6
build/!AwkScan/Resources/UK/HelpText,fff
build/!AwkScan/Resources/UK/Menus,ffd
build/package